# Build outputs
target/
dist/
build/

# Dependencies
**/node_modules/

# Cache
.cache/
.turbo/
**/.turbo/
*.tsbuildinfo
.pnpm-store/
coverage/

# Environment
.env
.env.*
.foundry/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Git
.git/

# Tests
**/test/
**/tests/
